SECRET_KEY=^##ydkswfu0+=ofw0l#$kv^8n)0$i(qd&d&ol#p9!b$8*5%j1+
DEBUG=True

# Database
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=
DB_HOST=db
DB_PORT=5432

# Hosts
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=http://10.5.0.1:8000
BASEURL=http://10.5.0.1:8000

# Static & Media
STATIC_URL=/static/
STATIC_ROOT=/app/static/
MEDIA_URL=/media/
MEDIA_ROOT=/app/static/media/

# Gunicorn
GUNICORN_WORKERS=5
GUNICORN_BIND=0.0.0.0:5000
GUNICORN_TIMEOUT=500

# SSL Proxy (uncomment and set if behind a reverse proxy with SSL)
#SECURE_PROXY_SSL_HEADER=HTTP_X_FORWARDED_PROTO,https

# APIs (default to BASEURL if not set)
#API_AUTHENTICATION=http://10.5.0.1:8000
#API_BASE=http://10.5.0.1:8000
#API_BOOTH=http://10.5.0.1:8000
#API_CENSUS=http://10.5.0.1:8000
#API_MIXNET=http://10.5.0.1:8000
#API_POSTPROC=http://10.5.0.1:8000
#API_STORE=http://10.5.0.1:8000
#API_VISUALIZER=http://10.5.0.1:8000
#API_VOTING=http://10.5.0.1:8000
